extends layout

block content
    h1= title
    div(class="container-fluid")
        div(class="row")
            -
                let icecream= [
                    {
                        "icecream_name": "kulfi",
                        "icecream_flavor":"badam",
                        "icecream_price":30
                    },
                    {
                        "icecream_name": "cone",
                        "icecream_flavor":"chocolate",
                        "icecream_price":60
                    },
                    {
                        "icecream_name": "chocobar",
                        "icecream_flavor":"vanilla",
                        "icecream_price":50
                    },
                ]
            each item,index in icecream 
                table(style='width:100%')
                    tr
                        div(class="col-sm-2" onclick=`buy(${index})`) #{item.icecream_name}
                        div(class="col-sm-2" onclick=`buy(${index})`) #{item.icecream_flavor}
                        div(class="col-sm-2" onclick=`buy(${index})`) $#{item.icecream_price}
            
            script.                
                  function buy(select)
                  {
                        alert(`You purchased item ${select+1}`)
                  }
               